
.postInfo>img{
    height: 150px;
    width: 250px;
    border-radius: 20px;
}
.title{
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}
.title_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title_container > img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
button{
    cursor: pointer;
    border: none;
    border-bottom: 2px dotted;
    margin: 5px;
}